body {
	font: 13px / 1.5 Tahoma;
	margin: 0;
	padding: 3em;
	color: #333;
}
.content, p {
	margin: 0 0 0.5em;
}
.content label:first-child {
	display: block;
}
.message {
	border-left: 5px solid #CCC;
	padding-left: 5px;
}
.message-info {
	border-left: 5px solid #069;
	background: #DEF;
	color: #036;
}
.message-warning {
	border-left: 5px solid #F90;
	background: #FED;
	color: #630;
}
form {
	width: 240px;
	margin: 0 auto 40px;
}
input {
	padding: 5px;
	width: 200px;
	border: 1px solid #999;
	border-radius: 2px;
}
button {
	position: relative;
	background: #555;
	background: -webkit-linear-gradient(top, #666, #555);
	color: #CCC;
	border: 1px solid #444;
	padding: 10px 20px;
	display: inline-block;
	width: 240px;
	cursor: pointer;
	border-radius: 2px;
	box-shadow: 
		0 1px 1px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	font-weight: bold;
	font-size: 1.5em;
	line-height: 1.2;
}
button:hover {
	border: 1px solid #222;
	color: #EEE;
	background: -webkit-linear-gradient(top, #777, #555);
}
button.button-clicked {
	top: 1px;
	background: #444;
	background: -webkit-linear-gradient(top, #666, #444);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
	color: #CCC;
}
input {
	font-size: 1.2em;
	line-height: 1.5;
}
h1 {
	font: 3em / 1.5 Georgia, Times, serif;
	text-align: center;
}
